body{
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.ctfassets.net/hrltx12pl8hq/6TOyJZTDnuutGpSMYcFlfZ/4dfab047c1d94bbefb0f9325c54e08a2/01-nature_668593321.jpg?fit=fill&w=480&h=270);
    background-size: cover;
}
.container
{
    text-align: center;
    box-sizing: border-box;
}
input{
    font-size: 20px;
    height: 40px;
    width: 300px;
    border-radius: 1cm;
    padding-left: 15px;
    outline: none;
}
table{
    margin: auto;
    margin-top: 20px;
}
button
{
    background: linear-gradient(to right, #9e41f5, #0026fa);
    color: white;
    height: 60px;
    width: 80px;
    font-size: 25px;
    outline: none;
}
.calc
{
    color: white;
    display: inline-block;
    background-color: rgb(25, 25, 25);
    border-radius: 1cm;
    padding: 10px;
    padding-bottom: 35px;
}