body{
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.container
{
    text-align: center;
    box-sizing: border-box;
}
input{
    font-size: 20px;
    height: 40px;
    width: 300px;
    border-radius: 1cm;
    padding-left: 15px;
    outline: none;
}
table{
    margin: auto;
    margin-top: 20px;
}
button
{
    background: linear-gradient(to right, #9e41f5, #0026fa);
    color: white;
    height: 60px;
    width: 60px;
    font-size: 25px;
}
.calc
{
    color: white;
    display: inline-block;
    background: linear-gradient(to left, #f72bd5,#e7116a);
    /* background-color: #004; */
    border-radius: 1cm;
    padding: 15px;
    padding-bottom: 35px;
}