span{
    margin-left: 5px;
}
table{
    margin: auto;
    padding: 0;
    text-align: center;
    /* background-color:rgb(138, 117, 233); */
}
th{
    background-color: rgba(138, 117, 233, 0.9);
}
hr{
    border-color: blanchedalmond;
    background-color: blanchedalmond;
}
.mtr{
    background-color: rgba(255,138,144,0.7);
    color: black;
}
.hmm305{
    background-color: rgba(255,138,144,0.8);
    color: lavenderblush;
}
.csa302{
    background-color: hsla(120,100%,50%,0.5);
    color: black;
}
.arp302{
    background-color: hsl(180, 50%, 50%);
    color: lavenderblush;
}
.csa301{
    background-color: hsl(200, 80%, 20%);
    color: lavenderblush;
}
.cse352{
    background-color: hsla(56,100%,50%,0.8);
    color: black;
}
.csa041{
    background-color: hsl(100, 80%, 20%);
    color: lavenderblush;
}
.cse041{
    background-color: hsla(200, 80%, 20%, 0.6);
    color: lavenderblush;
}
.cse031{
    background-color: rgba(54, 252, 54, 0.5);
    color: black;
}
.cse032{
    background-color: #273d58;
    color: lavenderblush;
}
.cal302{
    background-color: #999;
    color: lavenderblush;
}
.csp396{
    background-color: rgb(248, 76, 76);
    color: lavenderblush;
}
.csp352{
    background-color: rgb(76, 151, 248);
    color: lavenderblush;
}
.csp392{
    background-color: rgb(172, 94, 152);
    color: lavenderblush;
}