body {
    font-family:cursive;
    padding: 0;
    margin: 0;
    user-select: none;
}
.navbar {
    overflow: hidden;
    background-color: #333333;
} 
.icon{
    float: left;
    padding: 8px 20px;
}
.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(0, 102, 255);
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}  
.dropdown-content a:hover {
    background-color: #ddd;
}  
.dropdown:hover .dropdown-content {
    display: block;
}
.word{
    margin: 25px;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    word-break: break-all;
}
.word-keep{
    margin: 25px;
    width: 150px;
    height: 150px;
    border: 3px solid black;
    word-break: keep-all;
}
.word-keep:hover{
    margin: 100px 0;
    transform: translate(100px, 0px, 20px 5px);
}
#first {
    border: 10px dotted brown;
    padding: 15px;
    background: lightskyblue;
    background-clip: border-box;  
    margin-top: 5px;
}
  
#second {
    border: 10px dotted brown;
    padding: 15px;
    background: lightskyblue;
    background-clip: padding-box;
    margin-top: 5px;
}
  
#three {
    border: 10px dotted brown;
    padding: 15px;
    background: lightskyblue;
    background-clip: content-box;
    margin-top: 5px;
}